#tieuDe {
    display: flex;
    justify-content: center;
}
.gioHang {
    display: flex;
    justify-content: flex-end;
}
.hinhCover {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}
.gioiThieu {
    text-align: center;
}
.SP {
    width: 170px;
    height: 250px;
    margin: 10px;
}
div p {
    text-align: center;
}
input {
    width: 50px;
    text-align: center;
}
.hinhSP {
    display: flex;
    justify-content: space-evenly;
}